<!-- The Angular project is created -->
<!-- 
Employee Name = G.Sai Mahesh
Employee Id: 177917
Application : Game City Application
created on: 06/05/2019 -->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! Your Card Balance Amount is Rs 600
  </h1>
 
</div>
<app-success></app-success>  
<!-- 
  In hurry Instead of creating play.html I have created the success.html to display the games data  and also
  created another success.html to perform the operation and display
  If i try to rename is its showing error.
 -->